.auth-btn{
    background-color: var(--headcolor) !important;
    color: white !important;
}
.content-wrapper{
    padding: 0 20px 20px 20px;
  }

  app-primeng-table{
    font-size: 14px;
  }
  
  app-primeng-table td a{
    color : var(--headcolor);
  }
  .actionbtn{
    background-color: var(--headcolor) !important;
    width: 30px !important;
    height: 30px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
    border-color: var(--headcolor) !important;
    color: white !important;
  }

  .float-label-dropdown{
    margin-right: 1em !important;
  }

  input.tahoma{
    font-family: Tahoma !important;
    text-align: left !important;
    direction: ltr !important;
  }
  .main{
    min-height: calc(100vh - 170px);
  }
  .custom-button{
    border-radius: 3px !important;
    color: white !important;
    background-color: var(--headcolor) !important;
    border-color : var(--headcolor) !important;
  }

  .second-custom-button{
    border-radius: 3px !important;
    color: white !important;
    background-color: var(--headerboxcolor) !important;
    border-color : var(--headerboxcolor) !important;
  }

  .secondary-button{
    border-radius: 3px !important;
    color: var(--headerboxcolor) !important;
    background-color: inherit !important;
    border-color : var(--headerboxcolor) !important;
  }

  .delete-button{
    border-radius: 3px !important;
    color:var(--red) !important;
    background-color: inherit !important;
    border-color : var(--red) !important;
  }
  .edit-button{
    border-radius: 3px !important;
    color: var(--blue) !important;
    background-color: inherit !important;
    border-color : var(--blue) !important;
  }
  .save-button{
    border-radius: 3px !important;
    color: var(--green) !important;
    background-color: inherit !important;
    border-color : var(--green) !important;
  }
  .cancel-button{
    border-radius: 3px !important;
    color: var(--yellow) !important;
    background-color: inherit !important;
    border-color : var(--yellow) !important;
  }

  .less-important-button{
    border-radius: 3px !important;
    color: var(--headcolor) !important;
    border-color: hsl(221, 78%, 86%) !important;
    background-color: hsl(221, 78%, 86%) !important; 
  }

  .least-important-button{
    border-radius: 3px !important;
    color: var(--headcolor) !important;
    border-color:  var(--headcolor) !important;
    background-color: inherit !important; 
  }



  .outline-button{
    border-radius: 3px !important;
    color: var(--color) !important;
    background-color: inherit !important;
    border-color : var(--headerboxcolor) !important;
  }

  .thirty{
    width: 30px !important;
    height: 30px !important;
  }

  .padding8{
    padding-right: 8px;
    padding-left: 8px;
  }

  button{
    cursor: pointer !important;
  }



/*workflow style*/
  canvas{
    outline: none !important;
}

/* .diagramDiv canvas{
  margin-top:-75px;
  margin-left: -200px;
} */

.diagramDiv div{
  overflow-y: hidden !important;
}

.paletteDiv canvas{
  margin-top: -70px;
  border-left: 1px solid #9b9b9b;
}

.paletteDiv div{
  overflow: hidden !important;
}